<!DOCTYPE html>
<html lang="en-us">
<head>
    @Html.Partial("_partials/_head")
    @RenderSection("head", required: false)
</head>
<body class="main">
    @Html.Partial("_partials/_header")
    <main id="page_container" role="main">                    
        @RenderBody()           
    </main>
    @Html.Partial("_partials/_footer")
</body>
</html>